#wrapper-wrapper {
    background:url('++resource++plonetheme.francis.images/gradient.png') !important;
    background-repeat:repeat-x !important;
    display:inline-block;
    width:100%;
}

#content a, #content a:link, #content a:visited {
    color:#990000;
}

#content a:hover, dl.portlet a:hover {
    color:white !important;
    background:#990000;
}

a, a:link {
    transition: all 0.2s ease 0s;
}

h2 {
    background-image: url(++resource++plonetheme.francis.images/diagonal.gif);
    background-position: 0 14px;
    background-repeat: repeat-x;
    clear:both;
    color: #990000;
    font-family: "Georgia, Times, serif";
    font-size:175%;
    line-height:1.5em;
    font-weight:normal;
}

h3 {
    background-image: url(++resource++plonetheme.francis.images/diagonal.gif);
    background-position: 0 14px;
    background-repeat: repeat-x;
    clear:both;
    color: #444444;
    font-family: "Georgia, Times, serif";
    font-size: 125%;
    line-height:2.4em;
}

body {
    background-color:lightgrey;
    background-position:top center;
    background-repeat: no-repeat;
}

#visual-portal-wrapper {
    margin: 0 auto;
    width:980px !important;
}

#portal-personaltools-wrapper {display:none;}

#portal-searchbox {
    margin-top:1em;
    margin-bottom: 0;
}

#portal-logo {margin:0;}

#logo {
/*    top:0.5em; 
    margin-left:-59%;*/
margin-left:-100%;
display:inline-block;
*display:inline;
width:135px}

.social {margin-top: 5px; text-align:right;}
.social img {height:20px;}
.social a {font-size:80%; font-weight:bold; padding-top:15px;}
.social a, #portal-footer a {color:white;}
#portal-footer a {border-bottom:1px solid white;}
.social a:hover {background:#cccccc;}
#portal-footer a:hover {color:#990000;background:white;}
/*#portaltab-athletics {margin-left:125px;}*/

/*#portaltab-athletics a {padding-right:20px !important;}*/

.nav-primary {width:85%; margin-left:15%;display:inline-block;*display:inline; margin-top:1em;}
#portal-globalnav {
    background: transparent;
    text-align: right;
    margin-bottom:2.5em;
}

#portal-globalnav li a {
    background: transparent;
    border-right: none;
    color: white;
    padding:0.5em 1.1em;
    min-width:4em;
    font-weight:bold;
}

#portal-globalnav a:hover,
#portal-globalnav .selected a:hover {
    background: white;
    color: #990000;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

#portal-globalnav .selected a {
    background: transparent;
    color: white;
}

/*li.navTreeItem a span {color:#990000;}*/

#portal-columns {
    background: white;
    padding-top:15px;
    border: 3px solid #e0e0e0;
    box-shadow: 0px 1px 2px #ccc;
    -moz-box-shadow: 0px 1px 2px #ccc;
    -webkit-box-shadow: 0px 1px 2px #ccc;
    width:99.4%;
}

#portal-footer-wrapper { background: #ddd;}

#portal-footer-wrapper {
    background: #71031C; /* Old browsers */
    background: -moz-linear-gradient(top, #930324 0%, #71031c 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#930324), color-stop(50%,#71031c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #930324 0%,#71031c 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #930324 0%,#71031c 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #930324 0%,#71031c 50%); /* IE10+ */
    background: linear-gradient(to bottom, #930324 0%,#71031c 50%); /* W3C */
}

#portal-footer {
    margin:1em 0 0;
    color: white;
    background:transparent;    
}

#portal-colophon a,
#portal-siteactions a {color:white;}

#portal-colophon a:hover,
#portal-siteactions a:hover {background:white; color:#990000 !important;}

body.section-about-us {
    background-image: url(++resource++plonetheme.francis.images/about-us.jpg);
}

body.section-admissions {
    background-image: url(++resource++plonetheme.francis.images/admissions.jpg); 
}

body.section-academics {
    background-image: url(++resource++plonetheme.francis.images/academics.jpg); 
}

body.section-campus-life {
    background-image: url(++resource++plonetheme.francis.images/campus-life.jpg); 
}

body.section-athletics {
    background: url(++resource++plonetheme.francis.images/athletics.jpg) 50%; 
}

body.section-alumni-and-friends {
    background-image: url(++resource++plonetheme.francis.images/alumni-friends.jpg); 
}

body.section-faith-and-franciscanism {
    background-image: url(++resource++plonetheme.francis.images/faith-franciscanism.jpg); 
}


ul.slideshow { min-height:250px !important;}

#portal-breadcrumbs a:hover, 
#portal-breadcrumbs a:focus {
    color: white !important;
    background-color: #990000;
}

#portal-breadcrumbs a {color:#990000 !important;}

/*#portal-searchbox {
    background: none repeat scroll 0 0 #F1F1F1;
    border: 1px solid #999999;
    border-radius: 1em 1em 1em 1em;
    display: inline-block;
    float: right;
    margin: 1.2em 0;
    padding: 0.4em;
    width: 174px;
}*/

.searchContainer input[type="text"] {
    width: 130px !important;
}

#portal-searchbox input#searchString {
    font-size: 95%;
}

#portal-searchbox input.searchbutton {
    font-size: 85%;
}

.LSBox .searchButton {
    background:#454545;
    background: -webkit-gradient(linear, left top, left bottom, from(#9e9e9e), to(#454545));
    background: -moz-linear-gradient(center top , #9E9E9E, #454545) repeat scroll 0 0 transparent;
    border: 1px solid #494949;
    border-radius: 1em;
    -webkit-border-radius:1em;
    -moz-border-radius:1em;
    color: #FFFFFF;
    height: 23px;
    padding: 0 2px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    width: 29px;
}

.LSBox #searchGadget {
    border: 1px solid #98989F;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height:18px;
    color:#555; 
    width: 118px;
    padding:0px 8px;
    margin-left: 3px;
    position:relative;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.2);    
}
