#wrapper-wrapper {
    background:url('++resource++plonetheme.francis.images/gradient.png') !important;
    background-repeat:repeat-x !important;
    display:inline-block;
    width:100%;
}

#content a,
#content a:link,
#content a:visited {
    color:#990000 !important;
    padding:2px;
}

a, a:link {transition: all 0.2s ease 0s;}

h2 {
    background-image: url('++resource++plonetheme.francis.images/diagonal.gif');
    background-position: 0 14px;
    background-repeat: repeat-x;
    clear:both;
    color: #990000;
    font-family: "Georgia, Times, serif";
    font-size:175%;
    line-height:1.5em;
    font-weight:normal;
}

h3 {
    background-image: url('++resource++plonetheme.francis.images/diagonal.gif');
    background-position: 0 14px;
    background-repeat: repeat-x;
    clear:both;
    color: #444444;
    font-family: "Georgia, Times, serif";
    font-size: 125%;
    line-height:2.4em;
}

body {
    background-color:lightgrey;
    background-position:top center;
    background-repeat: no-repeat;
}

#visual-portal-wrapper {
    margin: 0 auto;
    width:980px !important;
}
#portal-header {margin-top:5px;}

#portal-top {z-index:3;}

#portal-personaltools-wrapper {display:none;}

#portal-searchbox {
    margin-top:.5em;
    margin-bottom: 0;
}

#portal-logo {margin:0;}

#logo {
    margin-left:-100%;
    display:inline-block;
    *display:inline;
    width:135px;
    margin-bottom:1em;
    margin-top:-1.5em
}

.social {
    text-align:right;
}

.social img {height:20px; padding:5px 2px 2px;}

.social a {
    font-size:80%;
    font-weight:bold;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.498);
    padding-top:10px;
}

.social a, #portal-footer a {color:white !important;}

#portal-footer a {
    border-bottom:1px solid white;
    padding:2px;
}

.nav-primary {
    width:85%;
    margin-left:15%;
    display:inline-block;
    *display:inline;
    margin-top:.5em;
}

#portal-globalnav {
    background: transparent;
    text-align: right;
}

#portal-globalnav li a {
    background: transparent;
    border-right: none;
    color: white;
    padding:0.5em 1.1em;
    min-width:4em;
    font-weight:bold;
    text-shadow:rgba(0, 0, 0, 0.498039) 0 2px 0;
}

#portal-globalnav .selected a {
    background: transparent;
    color: white;
}


#portal-columns {
    background: white;
    padding-top:15px;
    border: 3px solid #e0e0e0;
    box-shadow: 0px 1px 2px #ccc;
    -moz-box-shadow: 0px 1px 2px #ccc;
    -webkit-box-shadow: 0px 1px 2px #ccc;
    z-index:2;
}

#portal-footer-wrapper { background: #ddd;}

#portal-footer-wrapper {
    margin-top:-2em;
    color:white;
    background: #71031C; /* Old browsers */
    background: -moz-linear-gradient(top, #930324 0%, #71031c 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#930324), color-stop(50%,#71031c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #930324 0%,#71031c 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #930324 0%,#71031c 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #930324 0%,#71031c 50%); /* IE10+ */
    background: linear-gradient(to bottom, #930324 0%,#71031c 50%); /* W3C */
}

#portal-footer {
    color: white;
    background:transparent;
    line-height:normal;
    text-align:center;
    padding:0;
    margin:0;
}

#portal-colophon a, #portal-siteactions a {color:white;}

ul.slideshow { min-height:250px !important;}

#portal-breadcrumbs a {color:#990000 !important; padding:2px;}

.searchContainer input[type="text"] {
    width: 130px !important;
}

#portal-searchbox input#searchString {
    font-size: 95%;
}

#portal-searchbox input.searchbutton {
    font-size: 85%;
}

.LSBox .searchButton {
    background:#454545;
    background: -webkit-gradient(linear, left top, left bottom, from(#9e9e9e), to(#454545));
    background: -moz-linear-gradient(center top , #9E9E9E, #454545) repeat scroll 0 0 transparent;
    border: 1px solid #494949;
    border-radius: 1em;
    -webkit-border-radius:1em;
    -moz-border-radius:1em;
    color: #FFFFFF;
    height: 23px;
    padding: 0 2px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    width: 29px;
}

.LSBox #searchGadget {
    border: 1px solid #98989F;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height:18px;
    color:#555; 
    width: 118px;
    padding:0px 8px;
    margin-left: 3px;
    position:relative;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.2);    
}

#slogan {
    text-align:center;
    font-size:48px;
    color:white;
    font-family: 'Georgia, Times, serif'; 
    margin-bottom:.2em;
}

#portlets-footer {
    color:white;
    width:83%;
    margin-bottom:12px;
}

#portlets-footer portlet {font-size:12px;}

#portlets-footer a {
    color:white !important;
    border-bottom:0;
    padding:2px;
}

.footer-addy {margin:1em 0 .8em 1.2em;}

.phone-icon {margin-left:1.4em;}

#footer-logo {
    float:left;
    font-size:12px;
    width:14%;
    margin:-3.5em 1em 0 1em;
}

.mini-wrapper {
    width:980px;
    margin:2em auto 0;
    text-shadow: 0 2px 0 rgba(0,0,0,0.498);
}

ul.subdomains {display:inline-block;}

ul.subdomains a {
    padding: 0 1em !important;
    border-bottom:0 !important;
}

.accessibility-statement {margin:1em 0;}
