body { background-color:lightgrey;
background-position:top center;
background-repeat: no-repeat;
}

#visual-portal-wrapper {
    margin: 0 auto;
    width:960px !important;
}

#portal-top { 
    background: #a30327; /* Old browsers */
    background: -moz-linear-gradient(top, #a30327 0%, #930324 50%, #71031c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a30327), color-stop(50%,#930324), color-stop(100%,#71031c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #a30327 0%,#930324 50%,#71031c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #a30327 0%,#930324 50%,#71031c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #a30327 0%,#930324 50%,#71031c 100%); /* IE10+ */
    background: linear-gradient(to bottom, #a30327 0%,#930324 50%,#71031c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a30327', endColorstr='#71031c',GradientType=0 ); /* IE6-9 */
    -moz-box-shadow:    0px 4px 10px -5px #000;
    -webkit-box-shadow: 0px 4px 10px -5px #000;
    box-shadow:         0px 4px 10px -5px #000;
    z-index:9999;
}
#portal-personaltools-wrapper {
display:none;
}

#portal-searchbox {
margin-top:1.3em;
margin-bottom: 0;
}

#portal-logo {margin:0;}
#logo {top:0.5em; margin-left:-59%;
}
#portaltab-athletics {margin-left:125px;}
#portaltab-athletics a {padding-right:20px !important;}
.nav-primary {top:-40px;}
#portal-globalnav {
    background: transparent;
    text-align: center;
}

#portal-globalnav li a {
    background: transparent;
    border-right: none;
    color: white;
    font-weight: bold;
padding:0.5em 1.1em;
min-width:4em;
}

#portal-globalnav a:hover {
    background: white;
    color: #990000;
}

body.section-homepage #portal-columns {
    padding-top:1em;
}
.section-homepage .InHeaderPortletManager2,
.section-homepage .AbovePortletManager2 {
width:31.08%;
margin-left:-32.205%;
}

.section-homepage .BelowPortletManager3 .portletHeader,
.section-homepage .AbovePortletManager2 .portletHeader,
.section-homepage .InHeaderPortletManager2 .portletHeader {
display:none;
}

.section-homepage .InHeaderPortletManager1,
.section-homepage .AbovePortletManager1 {
width:64.16%;
}

.section-homepage .AbovePortletManager1 .portletItem,
.section-homepage .AbovePortletManager2 .portletItem,
.section-homepage .BelowPortletManager3 .portletItem {
padding:0;
}

.section-homepage .InHeaderPortletManager1 .portletBling,
.section-homepage .InHeaderPortletManager1 .portletBling img,
.section-homepage .InHeaderPortletManager2 img, 
.section-homepage .InHeaderPortletManager2 p { 
-moz-border-top-right-radius:5px; 
-webkit-border-top-right-radius:5px;
border-top-right-radius:5px;
-moz-border-top-left-radius:5px;
-webkit-border-top-left-radius:5px;
border-top-left-radius:5px;
margin-bottom:0px;
}

.section-homepage .AbovePortletManager1 .portletBling {
box-shadow: 0px 1px 18px 1px #ccc;
-moz-box-shadow: 0px 1px 18px 1px #ccc;
-webkit-box-shadow: 0px 1px 18px 1px #ccc;
}

.section-homepage .InHeaderPortletManager2 img,
.section-homepage .AbovePortletManager2 img {
height:250px;
}

.section-homepage #content {
display:none;
}

#portal-columns {
    background: white;
    padding-top:15px;
}

body.section-homepage #portal-breadcrumbs {display:none;}

#portal-footer-wrapper { background: #ddd;}

#portal-footer-wrapper,
#portlets-footer {
    background: #71031C; /* Old browsers */
    background: -moz-linear-gradient(top, #930324 0%, #71031c 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#930324), color-stop(50%,#71031c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #930324 0%,#71031c 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #930324 0%,#71031c 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #930324 0%,#71031c 50%); /* IE10+ */
    background: linear-gradient(to bottom, #930324 0%,#71031c 50%); /* W3C */
}

#portlets-footer a, #portlets-footer a:link {
    color:white;
    text-decoration: none;
}
#portlets-footer dt.portletHeader {
    background:transparent;
}

#portlets-footer dt.portletHeader a {
    text-align:center;
    color:white;
    font-size:24px;
    font-style:normal;
    line-height:1.5em;
}

#portlets-footer .navTreeItem {
    border-bottom:none;
}

#portal-footer {
margin:1em 0 0 0;
}

.section-homepage .BelowPortletManager1,
.section-homepage .BelowPortletManager2,
#portal-column-one dl.portlet {
    -moz-border-top-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-top-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    background: linear-gradient(bottom, rgb(234,234,234) 19%, rgb(244,244,244) 60%, rgb(249,249,249) 80%);
    background: -o-linear-gradient(bottom, rgb(234,234,234) 19%, rgb(244,244,244) 60%, rgb(249,249,249) 80%);
    background: -moz-linear-gradient(bottom, rgb(234,234,234) 19%, rgb(244,244,244) 60%, rgb(249,249,249) 80%);
    background: -webkit-linear-gradient(bottom, rgb(234,234,234) 19%, rgb(244,244,244) 60%, rgb(249,249,249) 80%);
    background: -ms-linear-gradient(bottom, rgb(234,234,234) 19%, rgb(244,244,244) 60%, rgb(249,249,249) 80%);
    background: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.19, rgb(234,234,234)),
	    color-stop(0.6, rgb(244,244,244)),
	    color-stop(0.8, rgb(249,249,249))
    );
    box-shadow: 0px 1px 2px 1px #ccc;
    -moz-box-shadow: 0px 1px 2px 1px #ccc;
    -webkit-box-shadow: 0px 1px 2px 1px #ccc;
}

body.section-homepage {
    background-image: url(++resource++plonetheme.francis.images/jesus.jpg);
}

body.section-about-us {
    background-image: url(++resource++plonetheme.francis.images/about-us.jpg);
}

body.section-admissions {
    background-image: url(++resource++plonetheme.francis.images/admissions.jpg); 
}

body.section-academics {
    background-image: url(++resource++plonetheme.francis.images/academics.jpg); 
}

body.section-campus-life {
    background-image: url(++resource++plonetheme.francis.images/campus-life.jpg); 
}

body.section-athletics {
    background-image: url(++resource++plonetheme.francis.images/athletics.jpg); 
}

body.section-alumni-and-friends {
    background-image: url(++resource++plonetheme.francis.images/alumni-friends.jpg); 
}

body.section-faith-and-franciscanism {
    background-image: url(++resource++plonetheme.francis.images/faith-franciscanism.jpg); 
}


ul.slideshow { min-height:250px !important;}

.portletBling dt.portletHeader, .portletBling dd.portletFooter {display:none !important;}
