
.holdme {
    overflow: hidden;
    height: auto !important;
}

#la_widget #la_qformbutton {
    background: #990000 !important;
}

.ui-widget button {
    border: 1px solid #990000 !important;
}

/*Globals*/
#hourswrapper {
  margin: 0 auto;
  overflow: hidden;
  width: 500px !important;
}
#hourswrap1 {font-size: 1.25em;}
#hourswrap2 {
  border-radius: 115px;
  display: inline-block;
  font-family: Arial,sans-serif;
  font-size: 1em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  text-shadow: 2px 2px #E5E5E5;
  text-transform: uppercase;
}

#websitefeedbackleftcolumn {margin-top: 15px; margin-right: 0px; width: 202px; font-size: 12px;border: 1px solid gray;border-radius:5px; text-align:center;}
#websitefeedbackleftcolumn p {font-size: 12px;}
#websitefeedbackleftcolumn h3 {border-bottom:1px solid gray;}
#contactusaside {margin-top: 15px; margin-right: 0px; width: 202px;border: 1px solid gray;border-radius:5px; text-align:center;}
#contactusaside h3 {border-bottom:1px solid gray;}

div.level h1.main-title, div.level h2.main-title {
    margin-left: 0;
    width: 100%;
}

div.level h1.main-title {
    margin-top: 10px;
    margin-bottom: 5px;
}


#content a:link, dl.portlet a:link {
    border-bottom: 0px !important;
	
}

p#breadcrumb-nav {
    display: none
}

ul#subnavigation li a, ul#subnavigation li a:link {
    font-family: Arial, sans-serif;
    font-size: 14px;
}

table.styled th.header {
    font-style: normal;
}



p#breadcrumb-nav {
    color: #221d19;
    font-size: 11px;
    left: 15px;
    margin: 0;
    padding: 0;
    position: absolute;
    margin-top: 2px;
}

p#breadcrumb-nav a, p#breadcrumb-nav a:link {
    color: #990000;
    text-decoration: none;
    padding: 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-weight: bold;
}

p#breadcrumb-nav a:hover {
    color: white;
    background: #990000;
    padding: 3px;
}

div#column-right .content-item-content h4 {
    color: #990000;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}

div#column-right .content-item-item p {
    color: #333333;
    font-size: 1.1em;
    line-height: 15px;
    margin: 0 0 8px;
    padding: 0;
}

/*Library Global Styles****************************************************************************************************************/

.library2 a.librarylink {
    display: none;
}

.library2 #navbar .container a.francislink img {
    padding: 12px 0 0 433px;
}

/* todays hours styles*/
#hourswrapper {
    margin: 0 auto;
    overflow: hidden;
    width: 500px !important;
}

#hourswrap1 {
    border-radius: 115px 115px 115px 115px;
    font-family: Arial, sans-serif;
    font-size: 1em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    text-shadow: 2px 2px #E5E5E5;
    text-transform: uppercase;
    display: inline-block;
}

#hourswrap2 {
    border-radius: 115px 115px 115px 115px;
    font-family: Arial, sans-serif;
    font-size: 1em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    text-shadow: 2px 2px #E5E5E5;
    text-transform: uppercase;
    display: inline-block;
}

#hours {
    border-radius: 115px 115px 115px 115px;
    font-family: Arial, sans-serif;
    font-size: 1em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    text-shadow: 2px 2px #E5E5E5;
    text-transform: uppercase;
    display: inline-block;
}

#hourswraptotal {
    margin-left: 25px;
}
hr.style-two {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

#lci_chat_load, #hourswrapper {
    text-align: center;
    border-color: lightgrey !important;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: rgb(234,234,234);
    background: linear-gradient(bottom, rgb(234,234,234) 19%, rgb(244,244,244) 60%, rgb(249,249,249) 80%);
    background: -o-linear-gradient(bottom, rgb(234,234,234) 19%, rgb(244,244,244) 60%, rgb(249,249,249) 80%);
    background: -moz-linear-gradient(bottom, rgb(234,234,234) 19%, rgb(244,244,244) 60%, rgb(249,249,249) 80%);
    background: -webkit-linear-gradient(bottom, rgb(234,234,234) 19%, rgb(244,244,244) 60%, rgb(249,249,249) 80%);
    background: -ms-linear-gradient(bottom, rgb(234,234,234) 19%, rgb(244,244,244) 60%, rgb(249,249,249) 80%);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0.19, rgb(234,234,234)), color-stop(0.6, rgb(244,244,244)), color-stop(0.8, rgb(249,249,249)));
    box-shadow: 0px 1px 2px 1px #ccc;
    -moz-box-shadow: 0px 1px 2px 1px #ccc;
    -webkit-box-shadow: 0px 1px 2px 1px #ccc;
}

#lci_chat_load {
    width:195px !important;
}

.lci_h3 {
    background-image: none;
}

.gradientblock {
    margin-left: 25px;
    padding: 10px;
    margin-bottom: 10px;
    border-color: lightgrey !important;
    border-radius: 4px;
    moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 1px 2px 1px #ccc;
    -moz-box-shadow: 0px 1px 2px 1px #ccc;
    -webkit-box-shadow: 0px 1px 2px 1px #ccc;
    background: rgb(234,234,234);
    background: linear-gradient(bottom, rgb(234,234,234) 19%, rgb(244,244,244) 60%, rgb(249,249,249) 80%);
    background: -o-linear-gradient(bottom, rgb(234,234,234) 19%, rgb(244,244,244) 60%, rgb(249,249,249) 80%);
    background: -moz-linear-gradient(bottom, rgb(234,234,234) 19%, rgb(244,244,244) 60%, rgb(249,249,249) 80%);
    background: -webkit-linear-gradient(bottom, rgb(234,234,234) 19%, rgb(244,244,244) 60%, rgb(249,249,249) 80%);
    background: -ms-linear-gradient(bottom, rgb(234,234,234) 19%, rgb(244,244,244) 60%, rgb(249,249,249) 80%);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0.19, rgb(234,234,234)), color-stop(0.6, rgb(244,244,244)), color-stop(0.8, rgb(249,249,249)));
}

.gradientblock h2 span {
    background-color: #F9F9F9;
}

#galleria {
    margin-bottom: 2em;
}

.linkhover a:hover {
    background-color: #990000 !important;
    border-radius: 5px !important;
    color: #fff !important;
    padding: 2px !important;
    text-decoration: none !important;
}

.ul1 {
    text-align: center !important;
    padding: 10px !important;
    list-style-type: none !important;
    font-size: 1.35em !important;
    display: inline !important;
    margin-left: 0em !important;
}

.ul1 li {
    display: inline !important;
    padding: 10px 10px !important;
}

.ul1 li a {
    border-bottom: 0px !important;
}

.ul1 A:link {
    text-decoration: none
}

.ul1 A:visited {
    text-decoration: none
}

.ul1 A:active {
    text-decoration: none
}

.ul1 A:hover {
    text-decoration: none;
}

.ul2 {
    font-size: 100% !important;
    text-align: center;
    padding: 10px;
    list-style-type: none !important;
}

.ul2 li {
    padding: 5px 0px;
    font-size: 1.2em !important;
}

.ul2 li a {
    border-bottom: 0px !important;
}

.ul2 A:link {
    text-decoration: none
}

.ul2 A:visited {
    text-decoration: none
}

.ul2 A:active {
    text-decoration: none
}

.ul2 A:hover {
    text-decoration: none;
}
/*END Library Globals****************************************************************************************************************/

/*FOR FACULTY AND STAFF PAGE*****************************************************************************************************************/
liaisonsbox_moreinfo {text-align: center; font-size: 1.25em; font-weight: bold; }
#liaisonswrapper {text-align:center;}

#liaisonswrapper ul li {list-style:none;line-height:2em;font-size:1.2em;}

.liaisonslogo {background-color: #0A4366;
box-shadow: 4px 5px 5px #948282;
color: #FFFFFF;
letter-spacing: 2px;
padding: 5px 10px;
text-align: center;
border-radius:5px;
width:75%;
display:block;
margin:0 auto;
font-weight:bold;
font-size:1.35em;}


#liaisonswrapper1 {
    display: block;
    margin: 0 auto;
    width: 95%;
}

#liaisonsforyou {
    display: block;
    float: left;
    margin-left: 40px;
    margin-right: 40px;
    width: 40%
}

#liaisonsforyoutitle {
    background-color: #0A4366;
    color: #fff;
    padding: 5px 10px;
    text-align: center;
    letter-spacing: 2px;
    -moz-box-shadow: 4px 5px 11px #948282;
    -webkit-box-shadow: 4px 5px 11px #948282;
    box-shadow: 4px 5px 11px #948282;
}

#liaisonsforyoucontent {
    text-align: center;
}

#liaisonsforstudentstitle {
    background-color: #0A4366;
    color: white;
    padding: 5px 10px;
    text-align: center;
    letter-spacing: 2px;
    -moz-box-shadow: 4px 5px 11px #948282;
    -webkit-box-shadow: 4px 5px 11px #948282;
    box-shadow: 4px 5px 11px #948282;
}

#liaisonsforyourstudentscontent {
    text-align: center;
    margin-bottom: 20px;
}

#liaisonsforyourstudents {
    width: 40%;
    display: block;
    float: left;
}

/*END FOR FACULTY AND STAFF PAGE*****************************************************************************************************************/


/*ABOUT US PAGE**************************************************************************************************************************************************************************************/
.aboutusblock p {
    font-size: 14px !important;
}

.aboutusblock {
    margin-left: 25px;
    padding: 10px;
    margin-bottom: 10px;
    border-color: lightgrey !important;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: rgb(234,234,234);
    background: linear-gradient(bottom, rgb(234,234,234) 19%, rgb(244,244,244) 60%, rgb(249,249,249) 80%);
    background: -o-linear-gradient(bottom, rgb(234,234,234) 19%, rgb(244,244,244) 60%, rgb(249,249,249) 80%);
    background: -moz-linear-gradient(bottom, rgb(234,234,234) 19%, rgb(244,244,244) 60%, rgb(249,249,249) 80%);
    background: -webkit-linear-gradient(bottom, rgb(234,234,234) 19%, rgb(244,244,244) 60%, rgb(249,249,249) 80%);
    background: -ms-linear-gradient(bottom, rgb(234,234,234) 19%, rgb(244,244,244) 60%, rgb(249,249,249) 80%);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0.19, rgb(234,234,234)), color-stop(0.6, rgb(244,244,244)), color-stop(0.8, rgb(249,249,249)));
    box-shadow: 0px 1px 2px 1px #ccc;
    -moz-box-shadow: 0px 1px 2px 1px #ccc;
    -webkit-box-shadow: 0px 1px 2px 1px #ccc;
}

.aboutusblock h2 span {
    background-color: #F9F9F9;
}

.aboutuscolumn ul {
    margin-top: 15px;
}

.aboutuscolumn ul li {
    font-size: 14px;
}


/*END ABOUT US PAGE***********************************************************************************************************************/

/*POTENTIALLY OR DEFINITELY UNUSED*/

#interlibraryloanhelp {
    text-align: center;
    padding-bottom: 15px;
}
.outlineblock {
    margin-left: 25px;
    padding: 10px;
    margin-bottom: 10px;
    border: solid 2px;
    border-color: lightgrey !important;
    border-radius: 4px;
    moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    /*box-shadow: 0px 1px 2px 1px #ccc;
     -moz-box-shadow: 0px 1px 2px 1px #ccc;
     -webkit-box-shadow: 0px 1px 2px 1px #ccc;*/
}

#feedbackbox {
    background-color: #fff;
    font-size: 1.5em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 15px #404A64;
    text-align: center;
    width: 70%;
    display: block;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

#feedbackbox p {
    padding: 2px 0;
}

#feedbackbox p:last-child {
    text-shadow: 1px 1px 2px lightgray;
    background: lightgray;
    border-radius: 3px;
}


#navhours {
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    width: 70%;
}
#referencehours table, #referencehours th, #referencehours td {
    border: 1px solid black;
    text-align: center;
}

#referencehours table {
    border-collapse: collapse;
    margin: 15px auto;
    width: 600px;
}
#quicksearch {
    float: left;
    margin-left: 20px;
}


/*-start custom search boxes-- */
#box1 {
    border: 1px solid #C4C4C4;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 6px #003F7F;
    color: #054B8C;
    font-size: 16px;
    height: 20px;
    margin-left: 5px;
    margin-right: 6px;
    margin-top: 30px;
    outline: medium none;
    padding: 4px;
    width: 300px;
}

#box2 {
    border: 0px solid #C4C4C4;
    border-radius: 1px 1px 1px 1px;
    box-shadow: 0 0 7px #505C7C;
    font-size: 14px;
    height: 20px;
    margin-left: 125px;
    margin-top: 10px;
    outline: medium none;
    padding: 4px;
    width: 396px;
}

#credobox {
    border: 0px solid #C4C4C4;
    border-radius: 1px;
    box-shadow: 0 0 7px #505C7C;
    color: #054B8C;
    font-size: 16px;
    height: 20px;
    outline: medium none;
    padding: 4px;
    width: 400px;
}

#journalfinderbox {
    border: 0 solid #C4C4C4;
    border-radius: 1px 1px 1px 1px;
    box-shadow: 0 0 6px #505C7C;
    color: #054B8C;
    font-size: 14px;
    height: 20px;
    margin-left: 45px;
    margin-top: 15px;
    outline: medium none;
    padding: 4px;
    width: 175px;
}

#advanced-search a {
    float: left;
    margin-left: 115px;
    margin-top: 3px;
    margin-bottom: 15px;
}

#submit-button {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px none #054B8C;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 0 4px #505C7C;
    color: #404A64;
    cursor: pointer;
    float: none;
    font: bold 15px/28px 'arial';
    height: 28px;
    margin-left: 6px;
    padding: 0;
    width: 80px;
}

.advanced-search {
    color: #404A64;
    font-family: sans-serif;
    font-size: 10px;
    margin-left: 7px;
    text-decoration: none;
}



#Credowrapper {

    margin: 10px 0 0 100px;
}

#credoimg {
    margin: 0 auto;
    width: 45%;
}

#proquest form {
    clear: both;
}

/*--end custom search boxes--*/

/* NOT SURE IF THESE ARE USED OR NOT?!?! ***************************************************************************************/
.texthighlight1 {
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    background-color: #990000;
    border-radius: 5px;
    padding: 4px;
    box-shadow: 2px 2px #cccccc;
}

#advanced-search {
    display: block;
}
