#portal-column-one dt.portletHeader, 
#portal-column-two dt.portletHeader {
    display: none;
}

dl.portletNavigationTree dd.portletItem ul li ul {
    background: white;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

dl.portlet a {padding: 2px;}

#portlets-footer h2 {
    background-image: none;
    color: white;
    text-align: center;
    font-size: 48px;
    line-height: 1.5em;
}

#portlets-footer a,
#portlets-footer a:link {
    color: white;
    text-decoration: none;
    padding: 2px;
}

#portlets-footer dt.portletHeader {background: transparent;}
 
#portlets-footer dt.portletHeader a {
    text-align: center;
    color: white;
    font-size: 24px;
    font-style: normal;
    line-height: 1.5em;
}
 
#portlets-footer .navTreeItem {border-bottom: none;}

#portal-column-one dl.portlet,
#portal-column-two dl.portlet {
    -moz-border-top-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-top-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgb(234,234,234); /* Old Browsers */
    background: linear-gradient(bottom, rgb(234,234,234) 19%, rgb(244,244,244) 60%, rgb(249,249,249) 80%);
    background: -o-linear-gradient(bottom, rgb(234,234,234) 19%, rgb(244,244,244) 60%, rgb(249,249,249) 80%);
    background: -moz-linear-gradient(bottom, rgb(234,234,234) 19%, rgb(244,244,244) 60%, rgb(249,249,249) 80%);
    background: -webkit-linear-gradient(bottom, rgb(234,234,234) 19%, rgb(244,244,244) 60%, rgb(249,249,249) 80%);
    background: -ms-linear-gradient(bottom, rgb(234,234,234) 19%, rgb(244,244,244) 60%, rgb(249,249,249) 80%);
    background: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.19, rgb(234,234,234)),
            color-stop(0.6, rgb(244,244,244)),
            color-stop(0.8, rgb(249,249,249))
    );
    box-shadow: 0px 1px 2px 1px #ccc;
    -moz-box-shadow: 0px 1px 2px 1px #ccc;
    -webkit-box-shadow: 0px 1px 2px 1px #ccc;
}

dd.portletItem a,
dd.portletFooter a,
dd.portletFooter a:visited {
    color: #990000 !important;
}

#portlets-footer dl.portlet dd.portletItem {
    font-size: 12px;
    padding: 0;
}

#portlets-footer dt.portletHeader {
    font-style: italic;
    font-family: 'Georgia, Times, serif';
    font-size: 1.1em;
    padding: 0.42em 0;
}

#content dl.portlet {
    font-size: 12px;
}

.titleless {
    background: none !important;
    padding: 0 !important;
}
