dl.portlet a {padding:2px;}

.managePortletsBelowTitleLink a {font-size:100% !important;}

#portlets-footer h2 {
    background-image: none;
    color:white;
    text-align:center;
    font-size:48px;
    line-height:1.5em;
}

#portlets-footer a,
#portlets-footer a:link {
    color:white;
    text-decoration: none;
    padding:2px;
}

#portlets-footer dt.portletHeader {
    background:transparent;
}
 
#portlets-footer dt.portletHeader a {
    text-align:center;
    color:white;
    font-size:24px;
    font-style:normal;
    line-height:1.5em;
}
 
#portlets-footer .navTreeItem {
    border-bottom:none;
}

#portal-column-one dl.portlet,
#portal-column-two dl.portlet {
    -moz-border-top-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-top-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgb(234,234,234); /* Old Browsers */
    background: linear-gradient(bottom, rgb(234,234,234) 19%, rgb(244,244,244) 60%, rgb(249,249,249) 80%);
    background: -o-linear-gradient(bottom, rgb(234,234,234) 19%, rgb(244,244,244) 60%, rgb(249,249,249) 80%);
    background: -moz-linear-gradient(bottom, rgb(234,234,234) 19%, rgb(244,244,244) 60%, rgb(249,249,249) 80%);
    background: -webkit-linear-gradient(bottom, rgb(234,234,234) 19%, rgb(244,244,244) 60%, rgb(249,249,249) 80%);
    background: -ms-linear-gradient(bottom, rgb(234,234,234) 19%, rgb(244,244,244) 60%, rgb(249,249,249) 80%);
    background: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.19, rgb(234,234,234)),
            color-stop(0.6, rgb(244,244,244)),
            color-stop(0.8, rgb(249,249,249))
    );
    box-shadow: 0px 1px 2px 1px #ccc;
    -moz-box-shadow: 0px 1px 2px 1px #ccc;
    -webkit-box-shadow: 0px 1px 2px 1px #ccc;
}

.portletBling dt.portletHeader, .portletBling dd.portletFooter {display:none !important;}

/********* portlet links *********/

.manageFooterPortletsLink {
    background: transparent !important;
    text-shadow:none;
}

.managePortletsAboveLink, .managePortletsBelowLink, .manageFooterPortletsLink {
    margin:0;
}

.managePortletsAboveLink {
    padding-top:0.5em;
}

.managePortletsLink a {
    color: #444;
}

div.managePortletsLink,
a.managePortletsLink,
a.managePortletsFallback {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #d8dadb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d8dadb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#d8dadb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#d8dadb 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#d8dadb 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%,#d8dadb 100%); /* W3C */  
    border:0.1em solid #444444;
    color: #444444 !important;  
    text-align: center;
    padding: 0.25em 0.5em;
    font-size: 80%;
    margin: 0 auto 1.5em;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
}

a.managePortletsFallback {
    display:inline-block; /* in order for our vertical margins to work on inline element */
}

#content a.managePortletsFallback {
    display: block;
    border-bottom: none !important;
}

#portlet-prefs a {
    border: none;
    line-height: 2em;
}

dd.portletItem a,
dd.portletFooter a,
dd.portletFooter a:visited {
    color: #990000 !important;
}

#portlets-footer dl.portlet dd.portletItem {
    font-size:12px;
    padding:0;
}

#portlets-footer dt.portletHeader {
    font-style:italic;
    font-family:'Georgia, Times, serif';
    font-size:1.1em;
    padding:0.42em 0;
}
