.ul1 {
    font-size: 1.25em !important;
    list-style-type: none !important;
}

.panelcollapsed table {width: 100%;}
.panelcollapsed table img {border: 0px none; }

#panelsleft,
#panelsright {
    display: inline-block;
    float: none;
    vertical-align: top;
    width: 350px !important;
}

/*Panel 1- Books and More*/

#ebooks1 {font-size: 1.4em !important;}

#newcredolinkarea a:hover {
    color: white;
    text-decoration: none;
    background-color: #990000;
    border-radius: 5px;
    padding: 2px;
}
#WCLwrapper {margin-top: 5px;}

/*stripped from inline*/
#wcl_seasrchbox {display: none;}
#newcredodiv p {text-align: center !important;}

#newcredodiv {
    width: 47%;
    display: block;
    margin: 25px auto;
}

#newcredolinkarea {
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 0px auto;
    width: 91%;
    font-weight: bold;
} 

/*Panel 2 - Research Databases*/
#proquestsearchwidget {
    margin: 0 auto;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}

/*Panel 3 - Research Guides*/
.fancy {
    text-align: center;
    margin: 10px 0;
    font-size: 1em;
}
/*stripped from inline*/
#researchguidespaneltagline {
    font-size: 1.25em;
    text-shadow: rgb(211, 211, 211) 2px 2px 1px;
    text-align: center;
}

/*Panel 4 - Get Research Help most are in the table style css*/ 

/*stripped from inline*/
#researchhelppaneltitle {background-color: #870221 !important;}
#getresearchhelpheading {background-color: rgb(135, 2, 33);}

/*Panel 5 - Interlibrary Loan*/
#journalfindersearch1 {margin: 15px 0;}

#journalfindersearch1 p {
    letter-spacing: 1px;
    text-align: center;
	font-size: 15px;
	line-height: 20px; 
}


/*Panel 6 - Special Collections most of these are ul1/ul2 etc*/

/*CUSTOM PANEL INTERNAL BUTTONS*****************/
.librarybutton1 {
    width: 50%;
    color: #fff;
    line-height: 2em;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #404A64;
    text-align: center;
    background: #a90329; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxNiUiIHN0b3AtY29sb3I9IiNhOTAzMjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIzNSUiIHN0b3AtY29sb3I9IiM4ZjAyMjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI4MyUiIHN0b3AtY29sb3I9IiM2ZDAwMTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #a90329 16%, #8f0222 35%, #6d0019 83%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(16%,#a90329), color-stop(35%,#8f0222), color-stop(83%,#6d0019)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #a90329 16%,#8f0222 35%,#6d0019 83%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #a90329 16%,#8f0222 35%,#6d0019 83%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #a90329 16%,#8f0222 35%,#6d0019 83%); /* IE10+ */
    background: linear-gradient(to bottom,  #a90329 16%,#8f0222 35%,#6d0019 83%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-8 */
    font-family: Arial, sans-serif;
    margin: 0 auto;
    letter-spacing: 2px;
}

.librarybutton1 a, .librarybutton2 a, .librarybutton3 a {
    color: #fff !important;
    text-decoration: none;
    letter-spacing: 2px;
    display: block;
    height: 100%;
    width: 100%;
    border-bottom: 0px !important;
}

.librarybutton1:hover {
    background: #e0042d !important; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxNiUiIHN0b3AtY29sb3I9IiNlMDA0MmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIzNSUiIHN0b3AtY29sb3I9IiNjOTAzMjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI4MyUiIHN0b3AtY29sb3I9IiNiMjAwMjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+) !important;
    background: -moz-linear-gradient(top,  #e0042d 16%, #c90328 35%, #b20022 83%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(16%,#e0042d), color-stop(35%,#c90328), color-stop(83%,#b20022)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e0042d 16%,#c90328 35%,#b20022 83%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e0042d 16%,#c90328 35%,#b20022 83%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e0042d 16%,#c90328 35%,#b20022 83%) !important; /* IE10+ */
    background: linear-gradient(to bottom,  #e0042d 16%,#c90328 35%,#b20022 83%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0042d', endColorstr='#b20022',GradientType=0 ) !important; /* IE6-8 */
}

.librarybutton2 {
    width: 50%;
    /* background-color: #990000; */
    color: #fff;
    line-height: 2em;
    font-size: 1.25em;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #404A64;
    text-shadow: 0px 0px 8px #fff;
    text-align: center;
    /* background: -moz-linear-gradient(center bottom , #6d0019  19%, #8f0222 60%, #a90329 80%); */

    background: #a90329; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxNiUiIHN0b3AtY29sb3I9IiNhOTAzMjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIzNSUiIHN0b3AtY29sb3I9IiM4ZjAyMjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI4MyUiIHN0b3AtY29sb3I9IiM2ZDAwMTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #a90329 16%, #8f0222 35%, #6d0019 83%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(16%,#a90329), color-stop(35%,#8f0222), color-stop(83%,#6d0019)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #a90329 16%,#8f0222 35%,#6d0019 83%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #a90329 16%,#8f0222 35%,#6d0019 83%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #a90329 16%,#8f0222 35%,#6d0019 83%); /* IE10+ */
    background: linear-gradient(to bottom,  #a90329 16%,#8f0222 35%,#6d0019 83%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-8 */
    font-family: Arial, sans-serif;
    margin: 0 auto;
    letter-spacing: 2px;
}

.librarybutton3 {
    width: 90%;
    color: #fff;
    line-height: 2em;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #404A64;
    text-align: center;
    background: #a90329; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxNiUiIHN0b3AtY29sb3I9IiNhOTAzMjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIzNSUiIHN0b3AtY29sb3I9IiM4ZjAyMjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI4MyUiIHN0b3AtY29sb3I9IiM2ZDAwMTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #a90329 16%, #8f0222 35%, #6d0019 83%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(16%,#a90329), color-stop(35%,#8f0222), color-stop(83%,#6d0019)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #a90329 16%,#8f0222 35%,#6d0019 83%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #a90329 16%,#8f0222 35%,#6d0019 83%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #a90329 16%,#8f0222 35%,#6d0019 83%); /* IE10+ */
    background: linear-gradient(to bottom,  #a90329 16%,#8f0222 35%,#6d0019 83%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-8 */
    font-family: Arial, sans-serif;
    margin: 0 auto;
}

.librarybutton3:hover {
    background: #e0042d; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxNiUiIHN0b3AtY29sb3I9IiNlMDA0MmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIzNSUiIHN0b3AtY29sb3I9IiNjOTAzMjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI4MyUiIHN0b3AtY29sb3I9IiNiMjAwMjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #e0042d 16%, #c90328 35%, #b20022 83%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(16%,#e0042d), color-stop(35%,#c90328), color-stop(83%,#b20022)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e0042d 16%,#c90328 35%,#b20022 83%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e0042d 16%,#c90328 35%,#b20022 83%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e0042d 16%,#c90328 35%,#b20022 83%); /* IE10+ */
    background: linear-gradient(to bottom,  #e0042d 16%,#c90328 35%,#b20022 83%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0042d', endColorstr='#b20022',GradientType=0 ); /* IE6-8 */
}



/*General Panel Styles*/
/* panel */
.panel,
.panelcollapsed {
    background: #404A64;
    margin: 0 5px 15px 5px;
    padding: 0px 0px 5px;
    
    /*width: 695px;*/
    /*border: 0px solid #999;*/
    border-radius: 3px 3px 3px 3px;
}

.panelcollapsed {width: auto !important;}

/* panel heading */
.panel h2,
.panelcollapsed h2 {
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin: 0px;
    border-radius: 3px 3px 3px 3px;
    /*box-shadow: -5px 5px 5px #d5d5d5;*/
    text-shadow: 1px 1px 0 #444444;
    font-weight: normal;
    padding: 4px;
    background: #404A64 url(arrow-up.gif) no-repeat 630px;
    /*border-bottom: 0px solid #999;
     -moz-border-radius: 3px;
     -webkit-border-radius: 3px;
     border-top: 0px solid #FFF;
     border-right: 0px solid #FFF;
     border-left: 0px solid #FFF;*/
}

/* panel heading on rollover */
.panel h2:hover,
.panelcollapsed h2:hover,
.panelcollapsed:hover {
    background-color: #505C7C;
    cursor: hand;
    cursor: pointer;
}

/* heading of a collapsed panel */
.panelcollapsed h2 {
    background: #404A64 url(arrow-dn.gif) no-repeat 630px;
    border-color: #404A64;
}

/* panel content - do not set borders or paddings */
.panelcontent {
    background: #F5F5F5;
    overflow: hidden;
    padding: 10px 0;
}

/* collapsed panel content */
.panelcollapsed .panelcontent {
    display: none;
}

#panels {
    font-size: 18px !important;
    height: 100%;
    float: left;
}

#panelsleft,
#panelsright,
#panelwide {
    float: left;
}

#panels h2 span,
#panels h3 span {
    background-color: transparent;
    padding-right: 8px;
    font-family: 'Volkhov', serif;
    font-style: normal;
}

#panelcoursereserves {margin: 25px 50px 10px 50px;}

#panelsbuttons a {
    padding: 5px 10px;
    /* color: #fff; */
    line-height: 2em;
    font-size: 1em;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #404A64;
    text-shadow: 0px 0px 8px #fff;
    text-align: center;
    /* background: -moz-linear-gradient(center bottom , #6d0019  19%, #8f0222 60%, #a90329 80%); */
    background-color: lightgray;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    text-decoration: none;
    font-variant: small-caps;
}

#panelsbuttons a:hover {
    background-color: gray;
    /* background: -moz-linear-gradient(center bottom , #980020  19%, #B00227 60%, #C8042D 80%); */
}

#panelsbuttons {
    /* text-decoration: none; */
    width: 300px;
    float: left;
    margin-left: 260px;
}
