body.section-homepage {
    background-image: url('++resource++plonetheme.francis.images/jesus.jpg');
}

body.section-about-us {
    background-image: url('++resource++plonetheme.francis.images/about-us.jpg');
}
 
body.section-admissions {
    background-image: url('++resource++plonetheme.francis.images/admissions.jpg');
}
body.section-academics {
    background-image: url('++resource++plonetheme.francis.images/academics.jpg');
}
body.section-campus-life {
    background-image: url('++resource++plonetheme.francis.images/campus-life.jpg');
}
body.section-athletics {
    background: url('++resource++plonetheme.francis.images/athletics.jpg');
}
body.section-alumni-and-friends {
    background-image: url('++resource++plonetheme.francis.images/alumni-friends.jpg');
}
body.section-faith-and-franciscanism {
    background-image: url('++resource++plonetheme.francis.images/faith-franciscanism.jpg');
}
